@import "customize-theme/helper";
@import "customize-theme/timeline";
@import "customize-theme/wizard-steps";



@media only screen and (min-width: 1920px) {
    .container {
        max-width: 1680px;
    }
}
body {
    overflow-x: hidden;
}
table th a {
    color: #464e5f;
}
.card-body {
    table {
        th,
        td {
            vertical-align: middle;
        }
        th {
            white-space: nowrap;
            span {
                i {
                    display: inline-block;
                    position: relative;
                    right: -5px;
                    line-height: 0;
                    vertical-align: middle;
                    font-size: 0.6rem;
                    & + i {
                        right: -3px;
                        top: 1px;
                    }
                }
            }
        }
        td {
            span.label {
                white-space: nowrap;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 7px;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #e1e1e1;
}

::-webkit-scrollbar-thumb {
    background: #cccccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c3c3c3;
    transition: all 400ms;
}

.btn-check:checked + .btn.btn-light-danger,
.btn-check:active + .btn.btn-light-danger,
.btn.btn-light-danger:focus:not(.btn-active),
.btn.btn-light-danger:hover:not(.btn-active),
.btn.btn-light-danger:active:not(.btn-active),
.btn.btn-light-danger.active,
.btn.btn-light-danger.show,
.show > .btn.btn-light-danger {
    color: #f64e60;
    background-color: #ffe2e5 !important;
    border-color: rgba(0, 0, 0, 0);
}
.btn.btn-light-danger:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-danger:focus:not(.btn-text),
.btn.btn-light-danger.focus:not(.btn-text) {
    color: #fff;
    background-color: #f64e60 !important;
    border-color: rgba(0, 0, 0, 0);
}
.btn-check:checked + .btn.btn-light-success,
.btn-check:active + .btn.btn-light-success,
.btn.btn-light-success:focus:not(.btn-active),
.btn.btn-light-success:hover:not(.btn-active),
.btn.btn-light-success:active:not(.btn-active),
.btn.btn-light-success.active,
.btn.btn-light-success.show,
.show > .btn.btn-light-success {
    color: #1bc5bd;
    background-color: #c9f7f5 !important;
    border-color: rgba(0, 0, 0, 0);
}
.btn.btn-light-success:hover:not(.btn-text):not(:disabled):not(.disabled),
.btn.btn-light-success:focus:not(.btn-text),
.btn.btn-light-success.focus:not(.btn-text) {
    color: #fff;
    background-color: #1bc5bd !important;
    border-color: rgba(0, 0, 0, 0);
}
.form-group label {
    display: block;
}

.text-hover-white {
    color: #fff;
}

.landing-checkbox-list {
    overflow-y: scroll;
    max-height: 320px;
}
.custom-control-label::before {
    width: 18px;
    height: 18px;
    left: -30px;
}
.custom-control-label::after {
    top: 2px;
    left: -31px;
    width: 20px;
    height: 20px;
}
.custom-control {
    padding-left: 30px;
}
.select2-container .select2-selection--single {
    height: 39px;
}

.table tr:first-child,
.table th:first-child,
.table td:first-child {
    padding-left: 1rem;
}
.table-checkbox {
    top: auto;
    vertical-align: top;
}
.menu-item .menu-link .menu-arrow {
    margin-top: 9px;
}
.filter-details-show {
    position: fixed;
    right: 30px;
    top: 13%;
    display: block !important;
    z-index: 1;
}
.filter-details {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 0px #999;
}
.switch input:empty ~ span:after {
    background-color: #999;
}
.switch input:checked ~ span:after {
    background-color: #3699ff;
}
.select2-container {
    width: 100% !important;
}
.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fafafa;
}
.dashboard-timeline {
    .timeline-item {
        &:last-child {
            .timeline-label {
                &::before {
                    display: none;
                }
            }
        }
    }
    .timeline-label {
        min-width: 42px;
        &::before {
            height: 60px;
            top: 15px;
        }
    }
    .timeline-badge {
        z-index: 1;
    }
}
.dashboard-checkbox-color {
    .checkbox.checkbox-lg {
        top: -10px;
    }
}
.custom-tab {
    .tab-wrapper {
        margin: 20px auto;
        width: 100%;
        border-radius: 6px;
        background: #ecf0f3;
        overflow: hidden;
        .nav-pills {
            padding: 2px 0;
            border-radius: 6px;
            overflow-x: auto;
            .nav-item {
                margin: 0;
                .nav-link {
                    color: #000000;
                    font-size: 14px;
                    border-radius: 6px;
                    &.active {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.overlay-bg {
    background: #000000;
    opacity: 0.2;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
}
.z-index-1 {
    z-index: 1;
}
.pagination-wrapper {
    .btn.disabled,
    a.btn.disabled {
        cursor: not-allowed;
        pointer-events: auto;
    }
}
.name-length-fix {
    max-width: 250px;
    width: 100%;
}
.horizontal-length-fix {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.vertical-length-fix {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.discout-type-select,
.rs-symbol {
    font-family: none;
    font-weight: 600;
}

/* for material detail checkbox sturcture */

.landing-checkbox-list {
    overflow-x: hidden;
    & ~ .landing-checkbox-list {
        margin-top: 5px;
    }
}
.custom-checkbox {    
    & > span {
        top: 8px;
    }    
    .check-box-content {
        max-width: 180px;
        width: 100%;
    }
    .price {
        width: 100%;
    }
}